.advantage {
  background-color: #ffffff;
  padding: 100px 0 140px 0;
}
.advantage__title {
  text-align: center;
  margin-bottom: 84px;
}
.advantage__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 65px 99px;
  padding: 0 79px 0 88px;
  counter-reset: list-1 list-2;
}
.advantage__item {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.advantage__item:before {
  content: "0" counter(list-1);
  counter-increment: list-1;
  width: 51px;
  height: 51px;
  background-color: #ffe500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  flex-shrink: 0;
}
.advantage__item:after {
  content: counter(list-2);
  counter-increment: list-2;
  font-size: 80px;
  line-height: 94px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.03);
  position: absolute;
  bottom: 30px;
  left: 90px;
}
.advantage__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #161616;
  min-height: 58px;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}
.advantage__map {
  padding-bottom: 122px;
  width: 100%;
  display: block;
}
.rent{
  background-color: $section-bg;

}
.rent__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 150px;
}
.rent__right{
  padding-top: 157px;
}
.rent__title {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.rent__desc {
  font-size: 15px;
  line-height: 18px;
  color: #161616;
  font-weight: 400;
  padding-bottom: 40px;
}
.rent__img {
  max-width: 100%;
  object-fit: cover;
  height: 488px;
  box-shadow: -66px -60px 0 0 #f1f2f5;
}
@media (max-width: 768px) {
  .advantage__title {
    font-size: 20px;
    line-height: 23px;
    padding: 60px 0 30px 0;
  }
  .advantage__list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 9px 0 9px;
  }
  .advantage__map {
    padding-bottom: 50px;
  }
  .advantage__map-img {
    width: 100%;
    object-fit: cover;
  }
  .advantage__rent {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .advantage__right {
    order: 1;
    margin-bottom: 60px;
  }
  .advantage__head {
    margin-top: 18px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
  }
  .advantage__subhead {
    text-align: center;
    padding: 0 5px 0 5px;
  }
  .advantage__left {
    order: -1;
  }
  .advantage__rent-img {
    width: 100%;
    object-fit: cover;
    position: static;
    height: auto;
  }
}
@media (max-width: 479px) {
  .advantage__title {
    font-size: 20px;
    line-height: 23px;
    padding: 60px 0 30px 0;
  }
  .advantage__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 28px;
  }
  .advantage__background {
    display: none;
  }
  .advantage__subhead {
    height: 266px;
  }
}
