.footer {
  padding: 45px 0;
  background-color: #161616;
  position: relative;
  z-index: 0;
}
.footer__container {
  display: flex;
  align-items: center;
}
.footer__nav {
  list-style-type: none;
  flex-grow: 1;
}
.footer__logo {
  margin-right: 64px;
  flex-shrink: 0;
}
.footer__info {
  display: flex;
  align-items: center;
  margin-left: 28px;
}
.footer__info-icon {
  flex-shrink: 0;
  margin-right: 10px;
}
.footer__info-text {
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .footer {
    padding: 45px 70px;
  }
  .footer__info-icon {
    display: none;
  }
  .footer__info-text {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__logo {
    margin-right: 0;
  }
  .footer__nav {
    margin-top: 40px;
  }
  .footer__info-icon {
    display: none;
  }
  .footer__info-text {
    display: none;
  }
}
@media (max-width: 620px) {
  .footer {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .footer {
    padding-top: 41px;
    padding-bottom: 20px;
  }
}
