.header{
    padding: 20px;
    background-color: gray;
    &__container{
        max-width: 600px;
        padding: 20px;
        background-color: green;
    }
   &__nav{
        padding: 20px;
        background-color: red;
    }
}