
.info__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info__inner-left {
  padding-right: 35px;
}
.info__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 51px;
}
.info__inner-pic {
  position: absolute;
  width: 50%;
  height: 506px;
  object-fit: cover;
  right: 0;
  top: 178px;
}
.info__switch {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 35px;
}
.info__arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__arrow-button--disabled {
  opacity: 0.2;
}
.info__list {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .info__inner-pic{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
  
}
