.rent {
  background-color: $section-bg;
}
.rent__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 150px;
  padding: 10px 15px 94px 35px;
}
.rent__right {
  padding-top: 147px;
}
.rent__title {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.rent__desc {
  font-size: 15px;
  line-height: 18px;
  color: #161616;
  font-weight: 400;
  padding-bottom: 40px;
}
.rent__left {
  margin-top: 60px;
}
.rent__img {
  width: auto;
  object-fit: cover;
  height: 488px;
  box-shadow: -60px -70px 0 0 #f1f2f5;
}
.rent__btn {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .rent__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 25px 0 15px;
  }
  .rent__right {
    order: 1;
    margin-bottom: 60px;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rent__title {
    margin-top: 18px;
    text-align: center;
  }
  .rent__desc {
    text-align: center;
    padding: 0 5px 30px 5px;
  }
  .rent__left {
    order: -1;
  }
  .rent__img {
    width: 100%;
    object-fit: cover;
    position: static;
    height: auto;
    box-shadow: none;
  }
  .rent__btn {
    padding: 19px 37px 22px;
    margin-top: 25px;
    margin-bottom: 26px;
  }
}
@media (max-width: 320px) {
  .rent__container {
    padding: 0 15px 0 15px;
  }
  .rent__right {
    padding-top: 9px;
    margin-bottom: 42px;
  }
  .rent__title {
    margin-top: 10px;
    margin-bottom: 17px;
  }
  .rent__img {
    box-shadow: none;
  }
  .rent__btn {
    margin-top: 39px;
  }
}
