.title-h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  font-family: $basic-family;
}
@media (max-width: 768px) {
  .title-h2 {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 576px) {
  .title-h2 {
    font-size: 18px;
    line-height: 21px;
  }
}
