.useful {
  background-color: #f1f2f5;
  padding-top: 64px;
  padding-bottom: 70px;
}
.useful__title {
  text-align: center;
  margin-bottom: 70px;
}
.useful__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px 30px;
  list-style: none;
  position: relative;
}
.useful__item {
  background-color: #ffffff;
  transition: transform 0.5s ease;
  box-shadow: 0 0 20px 15px rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.useful__item:hover {
  transform: translateY(-20px);
  font-weight: 800;
}
.useful__item:hover .useful__subtext {
  font-weight: 800;
}
.useful__top {
  position: absolute;
  top: 0;
  left: 0;
}
.useful__subtext {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #161616;
  min-height: 108px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}
.useful__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 351px;
}
.useful__label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe500;
  height: 57px;
  width: 54px;
  position: relative;
}
.useful__label-text {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #161616;
  padding: 18px 8px;
  background-color: #ffe500;
  transition: transform 0.2s, opacity 0.2s;
  white-space: nowrap;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}
.useful__label:hover .useful__label-text {
  transform: translateX(0);
  opacity: 1;
}
@media (max-width: 1024px) {
  .useful__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .useful__container {
    padding-bottom: 60px;
  }
  .useful__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
  }
  .useful__subtext {
    font-size: 16px;
  }
  .useful__img {
    height: 268px;
  }
}
@media (max-width: 580px) {
  .useful__list {
    grid-template-columns: (1fr);
  }
}
@media (max-width: 479px) {
  .useful__list {
    grid-template-columns: (1fr);
  }
  .useful__subtext {
    min-height: 70px;
    padding: 14px 9px 14px 25px;
  }
}
@media (max-width: 576px) {
  .useful {
    padding-bottom: 0;
  }
  .useful__container {
    padding-bottom: 0;
  }
  .useful__title {
    text-align: center;
    margin-bottom: 43px;
  }
  .useful__img {
    height: 270px;
  }
  .useful__subtext {
    min-height: 92px;
  }
}
